@import 'tailwindcss/utilities';
@source not inline('--tw-backdrop-saturate');
@source not inline('--tw-gradient-to-position');
@source not inline('--tw-outline-style');

@theme {
  --breakpoint-2xl: 1539px;
  --breakpoint-xl: 1379px;
  --breakpoint-lg: 1139px;
  --breakpoint-md: 739px;
  --spacing: 1px;
}

body, input, textarea, button {
  margin: 0;
  font-family: main, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(37, 38, 43);
}

html {
  scroll-behavior: smooth;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

.bn1 {
  height: 40px;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 2px 4px 0 0;
}

.bn1:hover {
  outline: 2px solid #4c55d5;
  background-color: #f5f6ff;
}